.body-mycv {
    background-color: #EFEFEF;
    padding: 0 40px;
}

.row {
    margin: 0 !important;
}

.center>span {
    font-size: 25px;
    font-weight: 300;
}

.photo-container {
    min-width: 350px;
    min-height: 320px;
}

.photo {
    margin-top: -235px;
    position: relative;
    border-radius: 50%;
    opacity: 0.8;
    border: #DBC4BD 2px solid;
}

.center {
    text-align: center;
}

.circle {
    z-index: -1;
}

.section-title {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 60px;
}

p {
    font-size: 14px !important;
    line-height: 14px;
    font-weight: 400;
}

li {
    font-size: 12px;
    position: relative;
    left: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

hr.style-one {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #ADACAB, #DBC4BD);
}


/* font-awesome */

.fas {
    margin-right: 15px;
    color: rgb(165, 144, 137);
}