.body-mycv {
    background-color: #EFEFEF;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 100px;
}

@media only screen and (max-width: 768px) {
    .body-mycv {
        padding-left: 4vw;
        padding-right: 4vw;
    }
  }

.row {
    margin: 0 !important;
}

.img-fluid {
    z-index: -10;
}

.center > span {
    font-size: 25px;
    font-weight: 300;
    text-shadow: 2px 2px 4px #000000;
}

.photo-container {
    min-width: 350px;
    min-height: 320px;
}

.photo {
    margin-top: -235px;
    position: relative;
    border-radius: 50%;
    opacity: 0.8;
    border: #DBC4BD 2px solid;
}

.center {
    text-align: center;
}

.circle {
    z-index: -1;
}

.section-title {
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    padding: 30px 0;
}

p {
    font-size: 14px !important;
    line-height: 14px;
    font-weight: 500;
}

ul {
    margin: 0;
    padding: 10px 0 0 20px;
}

li {
    font-size: 12px;
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

hr.style-one {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #ADACAB, #DBC4BD);
}

/* font-awesome */

.fas {
    text-align: center;
    min-width: 25px;
    color: rgb(165, 144, 137);
}

/* accordion */

.card-header {
    background-color: rgb(218, 212, 210)!important;
}

.card {
    cursor: pointer;

}

.collapse {
    transition: 1s;
}

.card-body.custom-card {
    text-align: left;
}